#xing_ming{
    width: 100px;
}

#xing_bie{
    width: 30px;
}

#hun_yin_zhuang_kuang{
    width: 50px;
}

#chu_sheng_di{
    width: 400px;
}

#jia_li_pai_hang_1{
    width: 30px;
}

#jia_li_pai_hang_2{
    width: 30px;
}

#lian_xi_di_zhi{
    width: 400px;
}
