.xuan_xiang_ka{
    border: 2px solid #33670E;
    margin: 10px;
    padding: 20px;

}

.csh_biao_ti{
    float: left;
    color: #82C053;
}

.csh_content{
    border: 1px solid #82C053;
}

.is_zhu_ren{
    background-color: green;
}

.csh_bj{
    margin: 0 10px;
}

.add_btn{
    background-color: #82C053;
    margin: 0 0 10px 50px;
    float: left;
    width: 100px;
    height:40px;
    color:white;
    border-radius:13px;
    border:hidden;
}
